* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media(max-width:1200px){
  body {
    background-color: #7cc7ae;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }
}

body {
    background-color: #7cc7ae;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1140px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
  }

@media(max-width: 800px) {
  .apartado {
    border: 1px solid white;
    display: flex;
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: 15px;
    align-items: center;
    width: 100%;
  }
}

.apartado {
    border: 1px solid white;
    display: flex;
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: 15px;
    align-items: center;
    width: 80%;
  }
  
.cabecera .segunda-frase {
  text-align: center;
}

.cabecera {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

main {
  width: 500px;
}

.apartado .foto-perfil {
  position: relative;
  margin: 20px 0 30px 10px;
  max-width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  transition: transform 1s;
}

.letra {
    margin-left: 100px;
    padding: 10px 15px;
    margin-top: -55px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    color: white;
    background-color: #5f1b10;
}

.info-apartado {
  border-left: 2px dotted white ;
  padding-left: 30px;
  margin-left: 30px;
}

.info-apartado div {
  display: flex;
}

.info-apartado div:first-of-type {
  margin-bottom: 20px;
}

.info-apartado div:first-of-type {
  margin-bottom: 20px;
}

.info-apartado ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.info-apartado ul li {
  display: flex;
  align-items: center;
}

.info-apartado ul li p:nth-of-type(2) {
  margin-left: 10px;
}

.apartado:hover .foto-perfil {
  transform: scaleX(-1);
}

.info-apartado :last-of-type .fa-check {
  background-color: green;
  border-radius: 50%;
  padding: 4px;
  color: white;
  position: absolute;
  margin: -10px 0 0 180px;
  visibility: hidden;
}

.apartado:hover .fa-check {
  visibility: visible;
}
