* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #7cc7ae;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:1200px){
  main {
    width: 100%;
  }
}

.cabecera {
  display:flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  justify-content: center;
  align-items: center;
}

.apartado {
    border: 1px solid white;
    display: flex;
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80vh;
    position: relative;
}

@media(max-width: 800px) {
  .apartado {
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
  }
}

a {
  color: black;
  text-decoration: none;
}

.apartado .foto-perfil {
  position: relative;
  margin: 20px;
  max-width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  transition: transform 1s;
}

.letra {
    margin-left: 100px;
    padding: 10px 15px;
    margin-top: -35px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    color: white;
    background-color: #5f1b10;
}

.info-apartado {
  border-left: 2px dotted white ;
  padding-left: 30px;
  margin-left: 30px;
  padding-top: 25px;
}

.info-apartado ul {
  list-style: none;
  padding: 0;
}

.info-apartado ul li {
  align-items: center;
}

.info-apartado ul li p{
  display: inline;
  align-items: center;
}

.info-apartado ul li p:nth-of-type(2) {
  margin-left: 10px;
}

.apartado:hover .foto-perfil {
  transform: scaleX(-1);
}

.info-apartado .fa-check {
  background-color: green;
  border-radius: 50%;
  padding: 4px;
  color: white;
  position: absolute;
  margin: 0 20px 10px 0;
  visibility: hidden;
  right: 0;
  bottom: 0;
  position: absolute;
}

.apartado:hover .fa-check {
  visibility: visible;
}
