* {
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0 30px;
  background-color: #7cc7ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cabecera .segunda-frase {
  text-align: center;
}

.cabecera div{
  text-align: center;
}

a {
  color: #504e4e;
  text-decoration: none;
}

main {
  width: 500px;
}

.apartado {
  border: 1px solid white;
  display: flex;
  background-color: cornflowerblue;
  border-radius: 20px;
  margin: 10px 0;
  align-items: center;
}

.apartado .foto-perfil {
  position: relative;
  margin: 20px 0 30px 10px;
  max-width: 100px;
  border-radius: 50%;
  border: 1px solid white;
}

.info-apartado div {
  display: flex;
  padding-left: 60px;
}

.info-apartado div:first-of-type {
  margin-bottom: 20px;
}

.info-apartado ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.info-apartado ul:nth-of-type(2) {
  padding-left: 20px;
}

